@font-face {
	font-family: 'puls4';
	src:url('../fonts/puls4.eot?-icf2tw');
	src:url('../fonts/puls4.eot?#iefix-icf2tw') format('embedded-opentype'),
		url('../fonts/puls4.woff?-icf2tw') format('woff'),
		url('../fonts/puls4.ttf?-icf2tw') format('truetype'),
		url('../fonts/puls4.svg?-icf2tw#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-github:before {
	content: "\f00a";
}






::selection{
	background: red;
}

.u-containerDefault{
	max-width: 800px;
	margin: 0 auto;
}

.u-title{
	color: rgb(219,52,44);
	border-bottom: 2px dashed rgb(219,52,44);	
	font-weight: 400;
	text-align: center;
	padding-bottom: .5em;
}

.MainMenu {	
	font-size: 1.8em;
	background: url('../images/imag.png') 0 -1145px;	
	/*background: #1E1E1E;*/
	text-align: center;
	/*height: 3.75em;*/
	position: fixed;
	display: block;
	right: 60px;	
	top: 0;
	width: 132px;
	height: 278px;
}

.MainMenu li a:hover,
.MainMenu li a:focus{
	color:#da7a7a
}

.MainMenu-list{
	margin: 0;
	padding: 0;
	height: 100%;
}
.MainMenu-item{
	display: block;
	height: 50px;	
}

.MainMenu-link{
	color: rgb(102,102,102);
	text-decoration: none;
	line-height: 3.75em;  /*Centra los links con respecto al alto */
	font-family: 'Anton';
	/*font-size: em;*/
}

.Header{	
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}

.Header-imageContainer{
	margin: 0;
}

.Header-image{	
	/*border: 5px solid white;*/
	border-radius: 50%;
	-webkit-transition: 1s;
}

.Header-image:hover{	
	border: 7px solid white;
	border-color: orange;
	-webkit-transform: rotateY(360deg);
}

.Header-name{
	font-family: 'Arizonia', cursive;	
	color: rgba(219,52,44,0.7);
	font-size: 2.5em;
	font-weight: 600;
	margin: 0;
}

.Profile{
	text-align: center;
}

.Profile-description {
	margin-bottom: 2em;
}


.Profile-colum{	
	display: inline-block;
	/*background: blue;*/
	vertical-align: top;
	margin-left: 4em;
}

.Profile-title{
	margin: 0.5em;
}

.Profile-list{
	text-align: left;
	/*background: green;*/
	/*display: inline-block;*/
	padding: 0 1em;
	margin: 0;

}

/*.l{
	position: relative;
	top: -2.2em;
}*/

.Profile-item{
	padding: 0;
}


.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.Work-imageContainer{
	margin: 0;
}

.Work-description{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
}

#Work-imageCel{
	background: url('../images/imag.png') 0 -1889px;
	height: 16.8em;
	width: 8.5em;
	display: inline-block;
	margin-right: 3em;
}

#Work-imageTab{
	background: url('../images/imag.png') 0 -792px;
	height: 22em;
	width: 29em;
	display: inline-block;
	margin-right: 3em;
}

.Footer{	
	background-color: rgb(214,123,88);
	/*background-image: url('../images/bg_header1.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	text-align: center;	
}

.Footer-title{
	color: white;
	margin-bottom: 0;
}

.Footer-description{
	text-align: center;
	font-size: 1.2em;
	margin: 0 1em 1em 1em;
}

.Footer-left{
	display: inline-block;
	max-width: 32em;
	text-align: center;
	vertical-align: top;	
	margin-bottom: 1em;
}

.Footer-link{	
	color: white;
	text-decoration: none;
	margin-right: .7em;
	font-size: 2.5em;
}

.icon-facebook:hover,
.icon-facebook:hover {
	color: rgb(59,87,157);
}

.icon-twitter:hover,
.icon-twitter:hover {
	color: rgb(26,178,232);
}

.icon-github:hover,
.icon-github:hover {
	color: black;
}


@media screen and (max-width: 300px) {
	body{
		background-color: red;
	}
}

@media screen and (min-width: 900px) and (max-width: 1023px){
	/*body{ 
		background-color: red;
	}*/
}

@media screen and (max-width: 768px){
	.MainMenu {		
		/*background: url('../images/bg-nav.jpg') repeat-x;*/
		background: rgb(214,123,88);						
		left: 0;
		width: 100%;		
		height: 1.9em;
		position: fixed;
	}

	.MainMenu-item{
		display: inline-block;
		height: 100%;		
	}

	.Header{
		padding: 0 0 1.2em 0;
	}

	.Header-imageContainer {		
		padding-top: 2em;
		margin-top: 2.5em;
	}

	.MainMenu-link{
		line-height: 1em;
		margin-left: 1em;
		margin-right: 1em;
		font-size: 0.8em;
		font-family: 'Anton';
	}

	.MainMenu li a:hover,
	.MainMenu li a:focus{
		color:lightgray;
	}
	
}



/*@media screen and (min-width: 800px){
	body{
		/*background: red;*/
	}

	/*#contenido .item{
		width: 48%;
		float:  left;				
	}

	#contenido{
		overflow: hidden;
	}

	#contenido .item:nth-child(odd){		
		margin-right: 2%;
	}
}






#main-nav{
	position:fixed;
	z-index:1000
}

@media screen and (max-width: 420px){
	#main-nav li:first-child{
		display:none
	}
	#main-nav li a{
		font-size:0.875em;
		padding:0.3em
	}
}

@media screen and (min-width: 421px) and (max-width: 480px){
	#main-nav li a{
		font-size:1em;padding:0.3em
	}
}

@media screen and (min-width: 481px) and (max-width: 540px){
	#main-nav li a{
		font-size:1em;
		padding:0.5em
	}
}

@media screen and (min-width: 541px) and (max-width: 849px){
	#main-nav li a{
		font-size:1.125em;
		padding:0.5em
	}
}

@media screen and (max-width: 849px){
	#main-nav{
		top:0;
		left:0;
		width:100%;
		background:url("../img/bg-nav.jpg") repeat-x 0 100%;
		text-align:center
	}
	#main-nav li{
		display:-moz-inline-box;
		-moz-box-orient:vertical;
		display:inline-block;
		vertical-align:middle;
		*vertical-align:auto
	}
	#main-nav li{
		*display:inline
	}
	#main-nav li a{
		display:-moz-inline-box;
		-moz-box-orient:vertical;
		display:inline-block;
		vertical-align:middle;
		*vertical-align:auto;
		color:#555;
		text-transform:uppercase;
		font-family:"futura-pt",sans-serif;
		text-shadow:#c8bbb1 1px 1px 0,#808285 2px 2px 0;
		text-decoration:none
	}
	#main-nav li a{
		*display:inline
	}
	#main-nav li a:hover,
	#main-nav li a focus{
		color:#da7a7a
	}
}

@media screen and (min-width: 850px){
	#main-nav{
		position:fixed;
		z-index:1000;
		top:0;
		right:5%;
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -1145px;
		width:132px;
		height:278px
	}
	#main-nav li:nth-child(1) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -3980px;
		width:132px;
		height:61px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(1) a:hover,
	#main-nav li:nth-child(1) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -4219px
	}
	#main-nav li:nth-child(2) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -6001px;
		width:132px;
		height:28px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(2) a:hover,
	#main-nav li:nth-child(2) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -6029px
	}
	#main-nav li:nth-child(3) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -5505px;
		width:132px;
		height:35px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(3) a:hover,
	#main-nav li:nth-child(3) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5733px
	}
	#main-nav li:nth-child(4) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -5338px;
		width:132px;
		height:35px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(4) a:hover,
	#main-nav li:nth-child(4) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5698px
	}
	#main-nav li:nth-child(5) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -4976px;
		width:132px;
		height:40px;text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(5) a:hover,
	#main-nav li:nth-child(5) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5298px
	}
	#main-nav li:nth-child(6) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -4454px;
		width:132px;height:49px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(6) a:hover,
	#main-nav li:nth-child(6)a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -4598px
	}
}*/