/*
a{	
	display: inline-block;
}*/





/*

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
*/













::selection{
	background: red;
}

.u-containerDefault{
	max-width: 800px;
	margin: 0 auto;
}

.u-title{
	color: #00DBFF;
	border-bottom: 2px dashed #00DBFF;	
	font-weight: 400;
	text-align: center;
	padding-bottom: .5em;
}

.MainMenu {
	
	
	font-size: 2em;
	background: url('../images/imag.png') 0 -1145px;	
	/*background: #1E1E1E;*/
	text-align: center;
	/*height: 3.75em;*/
	position: fixed;
	display: block;
	right: 60px;	
	top: 0;
	width: 132px;
	height: 278px;
}

.MainMenu li a:hover,
.MainMenu li a focus{
	color:#da7a7a
}

.MainMenu-list{
	margin: 0;
	padding: 0;
	height: 100%;
}
.MainMenu-item{
	display: block;
	height: 50px;
	
}

.MainMenu-link{
	color: rgb(102,102,102);
	text-decoration: none;
	line-height: 3.75em;  /*Centra los links con respecto al alto */
	font-family: 'Anton';
}

.Header{
	
	/*margin-top: 3.75em;*/
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}

.Header-imageContainer{

	margin: 0;
}

.Header-image{	
	/*border: 5px solid white;*/
	border-radius: 50%;
	-webkit-transition: 1s;

}

.Header-image:hover{	
	border: 7px solid white;
	border-color: orange;
	-webkit-transform: rotateY(360deg);

}

/*.Header-name,
.Header-link{
	color: red;
}*/

.Header-link{
	color: rgba(79,79,79,1);
 	font-size: 2.2em;
 	font-weight: bold;
 	text-decoration: none;
}

.Header-name{
	font-family: 'Arizonia', cursive;	
	color: rgba(219,52,44,0.7);
	font-size: 2.5em;
	font-weight: 600;
	margin: 0;
}


.Profile{
	text-align: center;
}

.Profile-description {
	margin-bottom: 2em;
}

.Profile-link{
	background: orange;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 2em;
	margin-right: .5em;
}

.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.Work-imageContainer{
	margin: 0;
}

.Work-description{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
}

.Footer{	
	background-color: rgb(214,123,88);
	/*background-image: url('../images/bg_header1.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	text-align: center;
	padding: 2em 0;
}

.Footer-title{
	color: white;
}

.Footer-description{
	text-align: center;
}

.Footer-left{
	display: inline-block;
	max-width: 32em;
	text-align: center;
	vertical-align: top;	
}

.Footer-form{	
	text-align: center;
	display: inline-block;
}

.Footer-formInput,
.Footer-textarea{
	background: white;
	border: none;
	display: block;	
	border-radius: 2em;
	padding: .5em;
	margin: 0 auto 1em;
}

.Footer-formInput{

}

.Footer-textarea{
	resize: none;
}

.Footer-button{
	background: orange;
	color: white;
	border-radius: 1em;
	border: none;
	padding: .5em 1em;
}




.fuente{
	font-family: 'Arizonia', cursive;
	text-align: center;
}

.fuente2{
	font-family: 'Arizonia', cursive;	
}

/*.ui-menu-bottom-line{
	height:1px;
	width:25px;
	position:absolute;
	left:0;
	bottom:-1px;
	background:red; 
	
	max-width:100%
}*/

/*@media screen and (max-width: 800px) {
	body{
		background-color: red;
	}
}*/

@media screen and (min-width: 900px) and (max-width: 1023px){
	body{ 
		background-color: red;
	}
}

@media screen and (max-width: 768px){
	.MainMenu {		
		/*background: url('../images/bg-nav.jpg') repeat-x;*/
		background: rgb(214,123,88);						
		left: 0;
		width: 100%;		
		height: 1.38em;
		position: fixed;
	}

	.MainMenu-item{
		display: inline-block;
		height: 100%;		
	}

	.Header{
		padding: 0 0 1.2em 0;
	}

	.Header-imageContainer {		
		padding-top: 5em;
	}

	.MainMenu-link{
		line-height: 1em;
		margin-left: 1em;
		margin-right: 1em;
		font-size: 0.6em;
		font-family: 'Anton';
	}

	.MainMenu li a:hover,
	.MainMenu li a:focus{
		color:lightgray;
	}

	
}



/*@media screen and (min-width: 800px){
	body{
		/*background: red;*/
	}

	/*#contenido .item{
		width: 48%;
		float:  left;				
	}

	#contenido{
		overflow: hidden;
	}

	#contenido .item:nth-child(odd){		
		margin-right: 2%;
	}
}






#main-nav{
	position:fixed;
	z-index:1000
}

@media screen and (max-width: 420px){
	#main-nav li:first-child{
		display:none
	}
	#main-nav li a{
		font-size:0.875em;
		padding:0.3em
	}
}

@media screen and (min-width: 421px) and (max-width: 480px){
	#main-nav li a{
		font-size:1em;padding:0.3em
	}
}

@media screen and (min-width: 481px) and (max-width: 540px){
	#main-nav li a{
		font-size:1em;
		padding:0.5em
	}
}

@media screen and (min-width: 541px) and (max-width: 849px){
	#main-nav li a{
		font-size:1.125em;
		padding:0.5em
	}
}

@media screen and (max-width: 849px){
	#main-nav{
		top:0;
		left:0;
		width:100%;
		background:url("../img/bg-nav.jpg") repeat-x 0 100%;
		text-align:center
	}
	#main-nav li{
		display:-moz-inline-box;
		-moz-box-orient:vertical;
		display:inline-block;
		vertical-align:middle;
		*vertical-align:auto
	}
	#main-nav li{
		*display:inline
	}
	#main-nav li a{
		display:-moz-inline-box;
		-moz-box-orient:vertical;
		display:inline-block;
		vertical-align:middle;
		*vertical-align:auto;
		color:#555;
		text-transform:uppercase;
		font-family:"futura-pt",sans-serif;
		text-shadow:#c8bbb1 1px 1px 0,#808285 2px 2px 0;
		text-decoration:none
	}
	#main-nav li a{
		*display:inline
	}
	#main-nav li a:hover,
	#main-nav li a focus{
		color:#da7a7a
	}
}

@media screen and (min-width: 850px){
	#main-nav{
		position:fixed;
		z-index:1000;
		top:0;
		right:5%;
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -1145px;
		width:132px;
		height:278px
	}
	#main-nav li:nth-child(1) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -3980px;
		width:132px;
		height:61px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(1) a:hover,
	#main-nav li:nth-child(1) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -4219px
	}
	#main-nav li:nth-child(2) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -6001px;
		width:132px;
		height:28px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(2) a:hover,
	#main-nav li:nth-child(2) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -6029px
	}
	#main-nav li:nth-child(3) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -5505px;
		width:132px;
		height:35px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(3) a:hover,
	#main-nav li:nth-child(3) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5733px
	}
	#main-nav li:nth-child(4) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -5338px;
		width:132px;
		height:35px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(4) a:hover,
	#main-nav li:nth-child(4) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5698px
	}
	#main-nav li:nth-child(5) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -4976px;
		width:132px;
		height:40px;text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(5) a:hover,
	#main-nav li:nth-child(5) a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -5298px
	}
	#main-nav li:nth-child(6) a{
		display:block;
		background:url('../img/gfx-sfda56717f1.png') 0 -4454px;
		width:132px;height:49px;
		text-indent:-2007px;
		overflow:hidden
	}
	#main-nav li:nth-child(6) a:hover,
	#main-nav li:nth-child(6)a:focus{
		background:url('../img/gfx-sfda56717f1.png') 0 -4598px
	}
}*/