<!DOCTYPE HTML>
	<head>

		<title>DanyHernandez</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1">
		<link href="http://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="../static/js/jquery.lettering.js"></script>
	</head>
	<body>
		<header id="yo" class="Header">
			
			<nav class="MainMenu">				 		
				<ul class="MainMenu-list"><!--Etiq Listas-->
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">YO</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">PERFIL</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">TRABAJOS</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">CONTACTO</a>
					</li>
				</ul>
				<!-- <div class="ui-menu-bottom-line" style="width: 121px;"></div> -->
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/images/avatar.png" alt="Avatar" class="Header-image"/>			
				<p class="Header-name">Daniel Hernández Sotelo</p>				
			</figure>
		</header>

		<section id="perfil" class="Profile">
			<div class="u-containerDefault">
				<h2 class="Profile-title u-title">Mi perfil</h2>
				<div class="Profile-columBackend Profile-colum">
				<h3 class="Profile-title">Backend</h3>
				<ul class="Profile-list">
					<ol class="Profile-item">C#</ol>
					<ol class="Profile-item">Ruby on Rails</ol>
					<ol class="Profile-item">Node.js</ol>
					<ol class="Profile-item">Mysql</ol>
					<ol class="Profile-item">SQLServer</ol>
				</ul>				
				</div>

				<div class="Profile-columFronted Profile-colum">
				<h3 class="Profile-title">Frontend</h3>
				<ul class="Profile-list">
					<ol class="Profile-item">Java Script</ol>
					<ol class="Profile-item">AngularJS</ol>
					<ol class="Profile-item">jQuery</ol>
					<ol class="Profile-item">Backbone.js</ol>
					<ol class="Profile-item">Stylus</ol>
					<ol class="Profile-item">Bootstrap</ol>
				</ul>				
				</div>

				<div class="Profile-columDw Profile-colum">
					<h3 class="Profile-title">Diseño Web</h3>
					<ul class="Profile-list l">	
						<ol class="Profile-item">HTML5</ol>
						<ol class="Profile-item">CSS3</ol>
						<ol class="Profile-item">Illustrator</ol>
						<ol class="Profile-item">Response Design</ol>
						<ol class="Profile-item">Mobile First</ol>
						<ol class="Profile-item">Experiencia del Usuario</ol>
						<ol class="Profile-item">Usabilidad</ol>
					</ul>
				</div>							
			</div>
		</section>

		<section id="trabajo" class="Work">
			<div class="u-containerDefault">
				<h2 class="Work-title u-title">Mi trabajo</h2>
				<p>Soy Daniel Hernandez  estudiante de Ingenieria de Sistemas, apasionado por el fronted, domino Ruby on Rails y mi especialidad es Response Design, dando asi un diseño a la medida y una experiencia de usuario alta.</p>
				
				<div id="Work-imageCel"></div>
				<div id="Work-imageTab"></div>
				<p>Hobbies: Programar </p>
			</div>

					
		</section>

		<footer id="contacto" class="Footer">			
			<div class="Footer-left">
				<h3 class="Footer-title">Contacto</h3>				
				<p class="Footer-description">danielhernandez16@hotmail.com 3116710257</p>
				<a class="Footer-link icon-twitter" href="https://twitter.com/daviheso" target="_black"></a>
				<a class="Footer-link icon-facebook" href="https://www.facebook.com/daviheso" target="_black"></a>
				<a class="Footer-link icon-github" href="https://github.com/daguiheso" target="_black"></a>
			</div>											
		</footer>
	</body>
</html>