<!DOCTYPE HTML>
	<head>

		<title>Portafolio</title>
		<meta charset="UTF-8"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">

	</head>
	<body>
		<header>
			<nav>		
				<ul>
					<li>
						<a href="">Welcome</a>
					</li>
					<li>
						<a href="">Habilidades</a>
					</li>
					<li>
						<a href="">Portafolio</a>
					</li>
					<li>
						<a href="">Contratame</a>
					</li>
				</ul>
				<div class="ui-menu-bottom-line" style="width: 121px;"></div>
			</nav>
		</header>
	</body>
</html>